body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.calculator-keys button:hover{
    background-color: lightslategray;
    transition: background 0.1s;
}
.calculator-keys button.operator:hover {
    background-color: lightsalmon;
    color: white;
}
.calculator-keys button.equal-sign:hover {
    background-color: lightsalmon;
    color: white;
}
.calculator-keys button.all-clear:hover {
    background-color: lightcoral;
    color: white;
}


.calculator-screen {
    width: 220px;
    height: 50px;
    border: none;
    background-color: #252525;
    color: white;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculator-keys button {
    height: 50px;
    width: 50px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    background-color: #3b3939;
    color: white;
    cursor: pointer;
}

.calculator-keys button.operator {
    background-color: #ff9500;
    color: white;
}

.calculator-keys button.equal-sign {
    background-color: #ff9500;
    color: white;
    width: 240px;
    height: 50px;
}

.calculator-keys button.all-clear {
    background-color: #ff3b30;
    color: white;
}
